{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="index" id="index">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="{% static 'images/titleBig.png'%}" width="60%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card bg-light mb-2 mt-3 ml-4 mr-4 w-100">
                <div class="card-body">
                    <form action="{% url 'results' %}" id="formSamples" onsubmit="return checkFormSamples();" method="post">
                        {% csrf_token %}
                        <ul class="nav nav-tabs" id="inputElection" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="gene-tab" data-toggle="tab" href="#gene" role="tab" aria-controls="gene" aria-selected="true">GENE</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="geneList-tab" data-toggle="tab" href="#geneList" role="tab" aria-controls="geneList" aria-selected="false">LIST OF GENES</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="gene" role="tabpanel" aria-labelledby="gene-tab">
                                <div class="card bg-light mt-2">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <div class="input-group col-md-4">
                                                <input size="50" type="text" class="form-control" id="geneID" name="geneID" aria-describedby="geneIDhelp" placeholder="Gene ID" required>
                                                <div class="input-group-append">
                                                    <button class="btn btn-info btn-sm "id="loadExampleGeneID">Load Example</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="geneList" role="tabpanel" aria-labelledby="geneList-tab">
                                List of genes
                            </div>
                          </div>
                          <div class="row mt-2">
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center text-center">
                                        <h4>Cultivar</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <div class="form-group">
                                                <select class="custom-select" multiple data-live-search="true" id="cultivars" name="cultivars" required>
                                                    <option value="pha1037">PHA1037</option>
                                                    <option value="pmb0225">PMB0225</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-self-center">
                                <i class="fas fa-fw fa-3x fa-arrow-right icons"></i>
                            </div>
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center text-center">
                                        <h4>Organ</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <div class="form-group">
                                                <select class="custom-select" multiple data-live-search="true" id="cultivars" name="cultivars" required>
                                                    <option value="flower">Flower</option>
                                                    <option value="meristem">Meristem</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-self-center">
                                <i class="fas fa-fw fa-3x fa-arrow-right icons"></i>
                            </div>
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center text-center">
                                        <h4>Samples</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <div class="form-group">
                                                <select class="custom-select" multiple data-live-search="true" id="cultivars" name="cultivars" required>
                                                    <option value="SAM">SAM</option>
                                                    <option value="VM">VM</option>
                                                    ç<option value="VM">Inflorescence Meristem</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-self-center">
                                <i class="fas fa-fw fa-3x fa-arrow-right icons"></i>
                            </div>
                            <div class="col-2">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-center text-center">
                                        <h4>Treatment</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <div class="form-group">
                                                <select class="custom-select" multiple data-live-search="true" id="cultivars" name="cultivars" required>
                                                    <option value="None" selected >None</option>
                                                    <option value="EMS">EMS</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        <button class="btn btn-success float-right mt-2" type="submit">View Expression</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<!-- LoadExamples -->
<script>
    $(document).ready(function(){
        $('#loadExampleGeneID').on('click', function(){
            $('#geneID').val("Phvul.001G000800");
            return false;
        });
    });
</script>

<!-- <script>
    function checkFormSamples(){
        alert("ok");
        var selectedItem = $('.selectpicker').val();
        alert(selectedItem);
        // $('#sample').val(selectedItem);
        return true;
    };

</script> -->

<script>
    jQuery(document).ready(function() {
        jQuery('#samples').multiselect({
            enableCollapsibleOptGroups: true,
            enableCaseInsensitiveFiltering: true,
            filterBehavior: 'both',
            maxHeight: 300,
            onDropdownHidden: function (e) {
                if(document.getElementById('samples').value){
                   jQuery('#samples_hidden').val(jQuery('#samples').val().map(function(item) {
                        return item.split(':')[0]}).join(','));
                } else{
                        document.getElementById('samples_hidden').value = "" ;
                }

                    toggleFields();


            }

        });
        jQuery("#genome-div").hide();
        jQuery("#Adapter_Custom").hide();
        jQuery("#Div_max").hide();
    });
    </script>

{% endblock%}